DB_URL=jdbc:postgresql://HOST:5432/postgres
DB_USERNAME=postgres
DB_PASSWORD=tu_password
JWT_SECRET=usa-una-clave-secreta-de-al-menos-32-caracteres
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_STORAGE_BUCKET=lmsiac
